@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Sofia+Sans&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #e2e2de;
    font-size: 22px;
    font-family: "Sofia Sans", Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(20, 26, 18, 0.9); 
}

h2{
    margin: 0;
}

h4{
    color: #FFD885;
}

#logo_link{
    padding: 5px;
    justify-self: center;
    align-self: center;
    transition: width .5s, height .5s, linear .5s;
}

#logo_link:hover{
    transform: scale(1.1);
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-align: center; 
    color: #FFD885;
    text-decoration: none;
    padding: 35px;
    transition: height .5s, linear .5s;
}

nav a:hover{
    background-color: #D9CCBD;
    color: black;
}

#hero{ /*grid container, parent*/
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{ /*image*/
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{ /*text and button*/
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}


.home-grid{ /*parent*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section{
    text-align: center;
}


.card-img{
    border: 10px solid rgb(20, 26, 18);
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    transition: width 2s, height 2s, linear 2s;
}

.card-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}


#background{/*div*/
    height: 725px;
    background-color: rgb(20, 26, 18);
    grid-column: 1/11;
    grid-row: 4/9;
    
}

.mountains{ /*image*/
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000000;
}

.msg{/*section*/
    background-color: #20311d;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #000000
}

.msg h2{
    color: #FFD885;
    font-family: Bitter, "IM Fell French Canon", Georgia, serif;
}

.msg p{
    color: #d9c2a3;
    font-size: .8em;
    padding-bottom: 15px;
}

.home-title{
    color: #FFD885;
    font-family: Bitter, "IM Fell French Canon", Georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}

.button-box{
    text-align: center;
}

.button-box:hover{
    transform: scale(1.2);
}

.book, .join{
    background-color: #FFD885;
    color: #150e05;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10%;
    transition: width .5s, height .5s, linear .5s;
}

.book:hover, .join:hover{
    background-color: black;
    color: #d9c2a3;
}


footer{
    background-color: rgb(20, 26, 18);
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #d9c2a3;
    text-decoration: none;
}

footer a:hover{
    color: #d9c2a3;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

/* images */
.logo{
    width: 80px;
    border-radius: 50%;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

main section img{
    box-sizing: border-box;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}